body{
    height: 1000px;
    margin:0px;
    /* font-family: 'Alegreya Sans', sans-serif; */
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Roboto Slab', serif;
    background-color: rgb(245, 242, 237);
}
nav{
    position: sticky!important;
    top: 0;
}
.navbar{
    height: 80px;
    width: 100%;
    background-color: bisque;
}